<!DOCTYPE html>


<head>
   {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-lg -10 col-12 align-center ">
                        <figure>
                            <img src="image\404.png" alt="" class="img-fluid">
                        </figure>
                        <p style="font-size: 2rem;">Welcome to <span class="textColor">vinayak</span> world</p>
                        <h1>Do you want to go    <a class="homeBtn" href="/">HOME</a> ?</h1>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- footer codd  -->
  {{>footer}}

</body>

</html>