<!DOCTYPE html>


<head>
   {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="image\ME.jpg" alt="" class="img-fluid">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to WeatherApp</p>
                        <h1>I am a <span class="textColor"> MERN stack developer</span> and a learner</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer codd  -->
  {{>footer}}

</body>

</html>